---
layout: 'base'
permalink: /
title: 'How to Communicate in the Remote World'
---


<button id="startButton" class="bg-green-500 text-white font-semibold py-3 px-6 rounded-full shadow-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400">
    Start
</button>


 {% include "components/teamsInterface.njk" %}

<script src="{{'/js/scripts.js' | url}}"></script>
