---
layout: 'base.njk'
permalink: /
title: 'How to Communicate in the Remote World'
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>No Hello</title>
  <link rel="stylesheet" type="text/css" href="{{ 'static/css/main.css' | url }}" media="screen" />
</head>
<body>
  <header>
    <h1>Communicating in the Remote World</h1>
    <p>Improving efficiency in online communication.</p>
  </header>

  <main>
    <section class="intro">
      <h2>Why “No Hello”?</h2>
      <p>
        When starting conversations with “hello” or “hi” and waiting for a response before asking your question, it delays communication. This approach is inefficient, especially in professional settings. It’s better to greet and ask your question right away.
      </p>
    </section>

    <section class="examples">
      <h2>Examples</h2>
      <div class="example">
        <p><strong>Not Helpful:</strong> “Hello”</p>
        <p><strong>Better:</strong> “Hello, can you help me with a project question?”</p>
      </div>
      <div class="example">
        <p><strong>Not Helpful:</strong> “Hi, are you there?”</p>
        <p><strong>Better:</strong> “Hi, do you have a moment to discuss the report?”</p>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2024</p>
  </footer>
</body>
</html>
